body{
    margin: 0;
  width:100%;
  overflow-x:hidden;
  padding:0;
  box-sizing: border-box;
  min-height: 100vh;
}
/* HEADER */
.NavbarContainer{
    /* border: 1px solid black; */
    display:flex;
    justify-content:space-between;
    width: 100%;
    /* margin-top: 10px; */
    flex-wrap: nowrap;
    background-color: rgb(254 243 199);
    padding-bottom: 5px;
    height: 50px;
}
.PillableHeaderLogo{
    display: flex;
    align-items: center;
     padding-right: 10px;
}
.NavbarlistContainer{
    padding-right: 10px;
}
.navbar-items{
    list-style: none;
    gap: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* FOOTER */
.Footer {
    position: static;
    background-color: rgb(254 243 199);
    min-height: 208px;
    width: 100%;
    bottom: 0;
}
.footerHeader{
    /* display: flex;
    align-items: center; */
    text-align: center;
    padding: 20px;
    
  }